@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: linear-gradient(rgba(235, 25, 2, 0.363),rgb(250, 128, 114),rgba(250, 128, 114, 0.692));
    font-family: "Permanent Marker", cursive;
}